# Arquivos e pastas geradas pelo Maven
 /target/

# Arquivos de compilação e cache do Java
 *.class
 *.log
 *.ctxt

# Configurações temporárias de IDEs
 .idea/
 *.iml
 *.ipr
 *.iws
 .vscode/
 *.swp

# Arquivos de sistema (Windows / macOS)
 Thumbs.db
 .DS_Store

# Arquivos de build temporário do Maven
 .mvn/timing.properties
 .mvn/wrapper/maven-wrapper.jar

# Arquivos de backup ou temporários
 *~
 *.bak
 *.tmp
